.history__elem {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px 10px;
    border-radius: 5px;
    transition: 0.5s all;
    backdrop-filter: blur(10px);
    flex-basis: 100%;

    &:hover {
        background: $historyElemHoverBG;
    }

    &:hover .history__icon{
        fill: $logoColor;
    }

    &:hover .history__date{
        color: lighten($notificationsTimeColor, 30%);
    }

    &:hover .history__text{
        color: lighten($historyTextColor, 30%);
    }

    &:first-of-type {
        margin-top: 40px;
    }

    &:hover .history__icon {
        border-color: lighten($walletsIconColor, 30%);
    }
    
}

@media (min-width: 969px) {
    .history__elem {
        &:hover {
            transform: scale(1.7);
        }
    }
}