$bodyBackgroundGradient1: #635BFF;
$bodyBackgroundGradient2: #C548AF;
$circleBorderColor: rgba(255, 255, 255, 0.4);
$mainContentWrap: #201D47;
$sidebarBackgroundGradient1: #262250;
$sidebarBackgroundGradient2: #1B1942;
$sidebarBackgroundGradient3: #17163B;
$logoColor: #fff;
$logoSquareGradient1: #86E3FF;
$logoSquareGradient2: #4CFA9D;
$logoCircleBorder: #D8D8D8;
$navigationIcon: #979797;
$navigationLinkActiveColor: #53B9EA;
$navigationLinkNewMessageGradient1: #FF40A5;
$navigationLinkNewMessageGradient2: #E14CD1;
$headerDescriptionColor: #5B5A99;
$headerNotificationBackgroundGradient1: #FF409A;
$headerNotificationBackgroundGradient2: #C438EF;
$alertFrameGradient1: rgba(50, 49, 102, 0.17);
$alertFrameGradient2: rgba(41, 39, 84, 0.78);
$alertFrameGradient3: rgba(27, 25, 67, 0.71);
$alertFrameTextColor: #6968A6;
$alertFrameNumberColor: #50E3C2;
$alertFrameHistoryLinkColor: #70B2FF;
$alertFrameDismisColor: #9796CF;
$alertFrameDismisBackground: #343261;