$bodyBackgroundGradient1: #635BFF;
$bodyBackgroundGradient2: #C548AF;
$circleBorderColor: rgba(255, 255, 255, 0.4);
$mainContentWrap: #201D47;
$sidebarBackgroundGradient1: #262250;
$sidebarBackgroundGradient2: #1B1942;
$sidebarBackgroundGradient3: #17163B;
$logoColor: #fff;
$logoSquareGradient1: #86E3FF;
$logoSquareGradient2: #4CFA9D;
$logoCircleBorder: #D8D8D8;
$navigationIcon: #979797;
$navigationLinkActiveColor: #53B9EA;
$navigationLinkNewMessageGradient1: #FF40A5;
$navigationLinkNewMessageGradient2: #E14CD1;