$bodyBackgroundGradient1: #635BFF;
$bodyBackgroundGradient2: #C548AF;
$circleBorderColor: rgba(255, 255, 255, 0.4);
$mainContentWrap: #201D47;
$sidebarBackgroundGradient1: #262250;
$sidebarBackgroundGradient2: #1B1942;
$sidebarBackgroundGradient3: #17163B;
$logoColor: #fff;
$logoSquareGradient1: #86E3FF;
$logoSquareGradient2: #4CFA9D;
$logoCircleBorder: #D8D8D8;
$navigationIcon: #979797;
$navigationLinkActiveColor: #53B9EA;
$navigationLinkNewMessageGradient1: #FF40A5;
$navigationLinkNewMessageGradient2: #E14CD1;
$headerDescriptionColor: #5B5A99;
$headerNotificationBackgroundGradient1: #FF409A;
$headerNotificationBackgroundGradient2: #C438EF;
$alertFrameGradient1: rgba(50, 49, 102, 0.17);
$alertFrameGradient2: rgba(41, 39, 84, 0.78);
$alertFrameGradient3: rgba(27, 25, 67, 0.71);
$alertFrameTextColor: #6968A6;
$alertFrameNumberColor: #50E3C2;
$alertFrameHistoryLinkColor: #70B2FF;
$alertFrameDismisColor: #9796CF;
$alertFrameDismisBackground: #343261;
$notificationsGradient1: rgba(36, 33, 81, 0.74);
$notificationsGradient2: rgba(38, 35, 83, 0.78);
$notificationsGradient3: rgba(28, 26, 64, 0.51);
$notificationsTitleColor: #B1AFCD;
$notificationsElemGradient1: rgba(26, 23, 62, 0.45);
$notificationsElemGradient2: rgba(18, 16, 48, 0.49);
$notificationsNameColor: #B1AFCD;
$notificationsTypeColor: #75749C;
$notificationsTextColor: #7D7CAF;
$notificationsTimeColor: #59588D;
$notificationsNameDarkenColor: #8786AB;
$notificationsAvatarLetterLGradient1: #16B4EB;
$notificationsAvatarLetterLGradient2: #23E73C;
$notificationsAvatarLetterBGradient1: #FF409A;
$notificationsAvatarLetterBGradient2: #C438EF;
$notificationsInfoCryptColor: rgba(255, 255, 255, 0.2);
$walletElemBorder: #312F62;
$walletsIconColor: #494767;
$walletsInfoNumberNegativeColor: #E3507A;
$walletsElemActiveBackground1: rgba(64, 221, 255, 1);
$walletsElemActiveBackground2: rgba(20, 186, 227, 1);
$walletsElemActiveBackground3: rgba(19, 177, 230, 1);
$walletsElemActiveBackground4: rgba(17, 170, 223, 1);
$walletsElemActiveBackground5: rgba(11, 152, 197, 1);
$bigChartWrapBg1: rgba(27, 25, 61, 0.99);
$bigChartWrapBg2: rgba(35, 33, 76, 0.9);