.notifications__info-chart-wrap {
    width: 50px;
    height: 28px;
    margin: 0;
    background-color: transparent;
}

@media (min-width: 2000px) {
    .notifications__info-chart-wrap {
        width: calc(50px + 0.2vw);
        height: calc(28px + 0.2vw);
    }
}