.trend__name-wrap {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    text-transform: uppercase;
    color: $logoColor;
    opacity: 0.2;
    font-size: 1em;
    line-height: 1.1em;
    font-family: HelveticaNeueCyr;
    font-weight: 700;
    line-height: 14px;
}

@media (min-width: 1440px) {
    .trend__name-wrap {
        font-size: 12px;
        line-height: 14px;
    }
}

@media (min-width: 1600px) {
    .trend__name-wrap {
        font-size: calc(12px + 0.4vw);
        line-height: calc(14px + 0.4vw);
    }
}