.notifications__avatar {
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    position: relative;
    width: 43px;
    height: 43px;
}

@media (min-width: 1600px) {
    .notifications__avatar {
        width: calc(43px + 0.5vw);
        height: calc(43px + 0.5vw);
    }
}