.header__controls-block {
    order: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 40px;
    background: $mainContentWrap;
    z-index: 10;
    max-width: calc(100% - 40px);
}

@media (min-width: 768px) {
    .header__controls-block {
        position: relative;
        padding: 0 15px;
        top: auto;
        left: auto;
        background: transparent;
    }
}

@media (min-width: 968px) {
    .header__controls-block {
        order: 1;
        padding: auto;
        width: auto;
    }
}

@media (min-width: 1440px) {
    .header__controls-block {
        padding-right: 35px;
    }
}

@media (min-width: 1600px) {
    .header__controls-block {
        padding-right: calc(35px + 1vw);
        flex-basis: 50%;
    }
}