.header__user-name {
    font-family: HelveticaNeueCyr;
    font-weight: 500;
    line-height: 100%;
    color: $headerDescriptionColor;
    font-size: 1.2rem;
    margin-right: 6px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

@media (min-width: 768px) {
    .header__user-name {
        display: inline-block;
    }
}

@media (min-width: 1440px) {
    .header__user-name {
        font-size: 13px;
        margin-right: 8px;
    }
}

@media (min-width: 2000px) {
    .header__user-name {
        font-size: calc(13px + 0.8vw);
        margin-right: calc(8px + 0.2vw);
    }
}