.logo__light {
    opacity: 0.4632;
    font-weight: 400;
    display: none;
    text-decoration: none;
    font-family: HelveticaNeueCyr;
    font-size: 18px;
    line-height: 21px;
    color: $logoColor;
}

@media (min-width: 768px) {
    .logo__light {
        display: inline;
    }
}

@media (min-width: 2000px) {
    .logo__light {
        font-size: calc(18px + 1vw);
    }
}