.notifications__menu {
    position: absolute;
    right: 3%;
    bottom: 10px;
    transform: rotate(90deg);
    z-index: 10;
}

@media (min-width: 968px) {
    .notifications__menu {
        top: 3px;
        bottom: auto;
    }
}

@media (min-width: 1600px) {
    .notifications__menu {
        top: calc(13px + 0.2vw);
    }
}