.main-content-wrap {
    background: $mainContentWrap;
    z-index: 2;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
}

@media (min-width: 768px) {
    .main-content-wrap {
        display: grid;
        grid-template-rows: 150px 1fr;
        grid-template-columns: 20.833% 79%;
        grid-auto-flow: row;
    }
}

@media (min-width: 1440px) {
    .main-content-wrap {
        max-width: 90%;
        min-height: 85.3333vh;
    }
}

@media (min-width: 1600px) {
    .main-content-wrap {
        min-height: 1024px;
    }
}