.main-content-wrap {
    background: $mainContentWrap;
    z-index: 2;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    position: relative;
}

@media (min-width: 1440px) {
    .main-content-wrap {
        max-width: 90%;
        height: 85.3333vh;
        min-height: auto;
    }
}

@media (min-width: 1600px) {
    .main-content-wrap {
        min-height: 1024px;
    }
}