.wallets__add-currency {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    text-decoration: none;
    font-weight: 700;
    font-family: HelveticaNeueCyr;
    font-size: 13px;
    color: $logoColor;
    line-height: 15px;
    mix-blend-mode: normal;
    opacity: 0.2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.31em;

    &:hover {
        opacity: 0.7;
    }
}

@media (min-width: 1440px) {
    .wallets__add-currency {
        font-size: 13px;
        line-height: 15px;
    }
}

@media (min-width: 1600px) {
    .wallets__add-currency {
        font-size: calc(15px + 0.7vw);
        line-height: calc(13px + 0.7vw);
    }
}