.header__search-button {
    margin-right: 15px;
}

@media (min-width: 480px) {
    .header__search-button {
        margin-right: 20px;
    }
}

@media (min-width: 768px) {
    .header__search-button {
        margin-right: 25px;
    }
}

@media (min-width: 968px) {
    .header__search-button {
        margin-right: 20px;
    }
}

@media (min-width: 1440px) {
    .header__search-button {
        margin-right: 30px;
    }
}

@media (min-width: 1600px) {
    .header__search-button {
        margin-right: calc(30px + 0.2vw);
    }
}