.wallets__elem-name {
    font-family: HelveticaNeueCyr;
    font-weight: 700;
    font-size: 12px;
    opacity: 0.2;
    color: $logoColor;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    line-height: 14px;
    text-align: right;
    align-self: baseline;
    font-size: 1.3em;
    line-height: 1.2em;
}

@media (min-width: 1440px) {
    .wallets__elem-name {
        font-size: 12px;
        line-height: 14px;
    }
}

@media (min-width: 1600px) {
    .wallets__elem-name {
        font-size: calc(12px + 0.7vw);
        line-height: calc(14px + 0.7vw);
    }
}