.wallets__elem {
    border: 2px solid $walletElemBorder;
    border-radius: 8%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1.2fr 1fr 0.8fr;
    grid-auto-flow: row;
    width: 190px;
    cursor: pointer;
    min-height: 101px;
    position: relative;

    &:last-child {
        border: 2px dashed $walletElemBorder;
    }
}

@media (min-width: 1440px) {
    .wallets__elem {
        margin-top: 24px;
        margin-right: 20px;
        padding: 16px 15px;
    }
}