.notifications {
    z-index: 3;
    background: linear-gradient(
        135deg, $notificationsGradient1, $notificationsGradient2, $notificationsGradient3);
    display: none;
    position: fixed;
    left: 40px;
    top: 41px;
    padding: 10px 0 5px 0;
    overflow-y:scroll;
    height: 80%;
}

@media (min-width: 480px) {
    .notifications {
       left: auto;
        right: 5%;
        padding: 15px 0 10px 0;
    }
}

@media (min-width: 768px) {
    .notifications {
        padding: 20px 0 15px 0;
        position: absolute;
        height: auto;
        overflow-y:auto;
        top: 5%;
    }
}

@media (min-width: 969px) {
    .notifications {
        top: 16%;
        padding: 25px 0 20px 0;
    }
}

@media (min-width: 1440px) {
    .notifications {
        right: 2%;
        padding: 30px 0 25px 0;
    }
}

@media (min-width: 1600px) {
    .notifications {
        padding: calc(30px + 0.2vw) 0 calc(25px + 0.2vw) 0;
    }
}